# Designing and Creating a Database
Practicing creating and altering databases using MLB data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sqlite3
import re

pd.set_option('max_columns', 180)
pd.set_option('max_rows', 200000)
pd.set_option('max_colwidth', 5000)

!rm mlb.db

In [2]:
data = {}

read_data = ['game_log.csv','park_codes.csv','person_codes.csv','team_codes.csv']

for d in read_data:
    data[str(d)[:-4]] = pd.read_csv(d,low_memory=False)

## Exploring the Data
### game_log.csv

In [3]:
print(data['game_log'].shape)
data['game_log'].head()

(171907, 161)

,date,number_of_game,day_of_week,v_name,v_league,v_game_number,h_name,h_league,h_game_number,v_score,h_score,length_outs,day_night,completion,forefeit,protest,park_id,attendance,length_minutes,v_line_score,h_line_score,v_at_bats,v_hits,v_doubles,v_triples,v_homeruns,v_rbi,v_sacrifice_hits,v_sacrifice_flies,v_hit_by_pitch,v_walks,v_intentional_walks,v_strikeouts,v_stolen_bases,v_caught_stealing,v_grounded_into_double,v_first_catcher_interference,v_left_on_base,v_pitchers_used,v_individual_earned_runs,v_team_earned_runs,v_wild_pitches,v_balks,v_putouts,v_assists,v_errors,v_passed_balls,v_double_plays,v_triple_plays,h_at_bats,h_hits,h_doubles,h_triples,h_homeruns,h_rbi,h_sacrifice_hits,h_sacrifice_flies,h_hit_by_pitch,h_walks,h_intentional_walks,h_strikeouts,h_stolen_bases,h_caught_stealing,h_grounded_into_double,h_first_catcher_interference,h_left_on_base,h_pitchers_used,h_individual_earned_runs,h_team_earned_runs,h_wild_pitches,h_balks,h_putouts,h_assists,h_errors,h_passed_balls,h_double_plays,h_triple_plays,hp_umpire_id,hp_umpire_name,1b_umpire_id,1b_umpire_name,2b_umpire_id,2b_umpire_name,3b_umpire_id,3b_umpire_name,lf_umpire_id,lf_umpire_name,rf_umpire_id,rf_umpire_name,v_manager_id,v_manager_name,h_manager_id,h_manager_name,winning_pitcher_id,winning_pitcher_name,losing_pitcher_id,losing_pitcher_name,saving_pitcher_id,saving_pitcher_name,winning_rbi_batter_id,winning_rbi_batter_id_name,v_starting_pitcher_id,v_starting_pitcher_name,h_starting_pitcher_id,h_starting_pitcher_name,v_player_1_id,v_player_1_name,v_player_1_def_pos,v_player_2_id,v_player_2_name,v_player_2_def_pos,v_player_3_id,v_player_3_name,v_player_3_def_pos,v_player_4_id,v_player_4_name,v_player_4_def_pos,v_player_5_id,v_player_5_name,v_player_5_def_pos,v_player_6_id,v_player_6_name,v_player_6_def_pos,v_player_7_id,v_player_7_name,v_player_7_def_pos,v_player_8_id,v_player_8_name,v_player_8_def_pos,v_player_9_id,v_player_9_name,v_player_9_def_pos,h_player_1_id,h_player_1_name,h_player_1_def_pos,h_player_2_id,h_player_2_name,h_player_2_def_pos,h_player_3_id,h_player_3_name,h_player_3_def_pos,h_player_4_id,h_player_4_name,h_player_4_def_pos,h_player_5_id,h_player_5_name,h_player_5_def_pos,h_player_6_id,h_player_6_name,h_player_6_def_pos,h_player_7_id,h_player_7_name,h_player_7_def_pos,h_player_8_id,h_player_8_name,h_player_8_def_pos,h_player_9_id,h_player_9_name,h_player_9_def_pos,additional_info,acquisition_info
0,18710504,0,Thu,CL1,NaN,1,FW1,NaN,1,0,2,54.0,D,NaN,NaN,NaN,FOR01,200.0,120.0,000000000,010010000,30.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,6.0,1.0,NaN,-1.0,NaN,4.0,1.0,1.0,1.0,0.0,0.0,27.0,9.0,0.0,3.0,0.0,0.0,31.0,4.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,NaN,0.0,0.0,NaN,-1.0,NaN,3.0,1.0,0.0,0.0,0.0,0.0,27.0,3.0,3.0,1.0,1.0,0.0,boakj901,John Boake,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,paboc101,Charlie Pabor,lennb101,Bill Lennon,mathb101,Bobby Mathews,prata101,Al Pratt,NaN,NaN,NaN,NaN,prata101,Al Pratt,mathb101,Bobby Mathews,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,selmf101,Frank Sellman,5.0,mathb101,Bobby Mathews,1.0,foraj101,Jim Foran,3.0,goldw101,Wally Goldsmith,6.0,lennb101,Bill Lennon,2.0,caret101,Tom Carey,4.0,mince101,Ed Mincher,7.0,mcdej101,James McDermott,8.0,kellb105,Bill Kelly,9.0,NaN,Y
1,18710505,0,Fri,BS1,NaN,1,WS3,NaN,1,20,18,54.0,D,NaN,NaN,NaN,WAS01,5000.0,145.0,107000435,640113030,41.0,13.0,1.0,2.0,0.0,13.0,0.0,0.0,0.0,18.0,NaN,5.0,3.0,NaN,-1.0,NaN,12.0,1.0,6.0,6.0,1.0,0.0,27.0,13.0,10.0,1.0,2.0,0.0,49.0,14.0,2.0,0.0,0.0,11.0,0.0,0.0,0.0,10.0,NaN,2.0,1.0,NaN,-1.0,NaN,14.0,1.0,7.0,7.0,0.0,0.0,27.0,20.0,10.0,2.0,3.0,0.0,dobsh901,Henry Dobson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,wrigh101,Harry Wright,younn801,Nick Young,spala101,Al Spalding,braia102,Asa Brainard,NaN,NaN,NaN,NaN,spala101,Al Spalding,braia102,Asa Brainard,wrigg101,George Wright,6.0,barnr102,Ross Barnes,4.0,birdd102,Dave Birdsall,9.0,mcvec101,Cal McVey,2.0,wrigh101,Harry Wright,8.0,goulc101,Charlie Gould,3.0,schah101,Harry Schafer,5.0,conef101,Fred Cone,7.0,spala101,Al Spalding,1.0,watef102,Fred Waterman,5.0,forcd101,Davy Force,6.0,mille105,Everett Mills,3.0,allid101,Doug Allison,2.0,hallg101,George Hall,7.0,leona101,Andy Leonard,4.0,braia102,Asa Brainard,1.0,burrh101,Henry Burroughs,9.0,berth101,Henry Berthrong,8.0,HTBF,Y
2,18710506,0,Sat,CL1,NaN,2,RC1,NaN,1,12,4,54.0,D,NaN,NaN,NaN,RCK01,1000.0,140.0,610020003,010020100,49.0,11.0,1.0,1.0,0.0,8.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0,NaN,-1.0,NaN,10.0,1.0,0.0,0.0,2.0,0.0,27.0,12.0,8.0,5.0,0.0,0.0,36.0,7.0,2.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,NaN,3.0,5.0,NaN,-1.0,NaN,5.0,1.0,3.0,3.0,1.0,0.0,27.0,12.0,13.0,3.0,0.0,0.0,mawnj901,J.H. Manny,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,paboc101,Charlie Pabor,hasts101,Scott Hastings,prata101,Al Pratt,fishc102,Cherokee Fisher,NaN,NaN,NaN,NaN,prata101,Al Pratt,fishc102,Cherokee Fisher,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,mackd101,Denny Mack,3.0,addyb101,Bob Addy,4.0,fishc102,Cherokee Fisher,1.0,hasts101,Scott Hastings,8.0,ham-r101,Ralph Ham,5.0,ansoc101,Cap Anson,2.0,sagep101,Pony Sager,6.0,birdg101,George Bird,7.0,stirg101,Gat Stires,9.0,NaN,Y
3,18710508,0,Mon,CL1,NaN,3,CH1,NaN,1,12,14,54.0,D,NaN,NaN,NaN,CHI01,5000.0,150.0,101403111,077000000,46.0,15.0,2.0,1.0,2.0,10.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0,NaN,-1.0,NaN,7.0,1.0,6.0,6.0,0.0,0.0,27.0,15.0,11.0,6.0,0.0,0.0,43.0,11.0,2.0,0.0,0.0,8.0,0.0,0.0,0.0,4.0,NaN,2.0,1.0,NaN,-1.0,NaN,6.0,1.0,4.0,4.0,0.0,0.0,27.0,14.0,7.0,2.0,0.0,0.0,willg901,Gardner Willard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,paboc101,Charlie Pabor,woodj106,Jimmy Wood,zettg101,George Zettlein,prata101,Al Pratt,NaN,NaN,NaN,NaN,prata101,Al Pratt,zettg101,George Zettlein,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,mcatb101,Bub McAtee,3.0,kingm101,Marshall King,8.0,hodec101,Charlie Hodes,2.0,woodj106,Jimmy Wood,4.0,simmj101,Joe Simmons,9.0,folet101,Tom Foley,7.0,duffe101,Ed Duffy,6.0,pinke101,Ed Pinkham,5.0,zettg101,George Zettlein,1.0,NaN,Y
4,18710509,0,Tue,BS1,NaN,2,TRO,NaN,1,9,5,54.0,D,NaN,NaN,NaN,TRO01,3250.0,145.0,000002232,101003000,46.0,17.0,4.0,1.0,0.0,6.0,0.0,0.0,0.0,2.0,NaN,0.0,1.0,NaN,-1.0,NaN,12.0,1.0,2.0,2.0,0.0,0.0,27.0,12.0,5.0,0.0,1.0,0.0,36.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,3.0,NaN,0.0,2.0,NaN,-1.0,NaN,7.0,1.0,3.0,3.0,1.0,0.0,27.0,11.0,7.0,3.0,0.0,0.0,leroi901,Isaac Leroy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,wrigh101,Harry Wright,pikel101,Lip Pike,spala101,Al Spalding,mcmuj101,John McMullin,NaN,NaN,NaN,NaN,spala101,Al Spalding,mcmuj101,John McMullin,wrigg101,George Wright,6.0,barnr102,Ross Barnes,4.0,birdd102,Dave Birdsall,9.0,mcvec101,Cal McVey,2.0,wrigh101,Harry Wright,8.0,goulc101,Charlie Gould,3.0,schah101,Harry Schafer,5.0,conef101,Fred Cone,7.0,spala101,Al Spalding,1.0,flync101,Clipper Flynn,9.0,mcgem101,Mike McGeary,2.0,yorkt101,Tom York,8.0,mcmuj101,John McMullin,1.0,kings101,Steve King,7.0,beave101,Edward Beavens,4.0,bells101,Steve Bellan,5.0,pikel101,Lip Pike,3.0,cravb101,Bill Craver,6.0,HTBF,Y

We have a record of over 170,000 games with a good amount of data on each game. Who umpired the game, pitcher, and all the positions who played in the game. 

The games start at 1871 and go all the way through 2016

In [4]:
!cat game_log_fields.txt

Field(s)  Meaning
    1     Date in the form "yyyymmdd"
    2     Number of game:
             "0" -- a single game
             "1" -- the first game of a double (or triple) header
                    including seperate admission doubleheaders
             "2" -- the second game of a double (or triple) header
                    including seperate admission doubleheaders
             "3" -- the third game of a triple-header
             "A" -- the first game of a double-header involving 3 teams
             "B" -- the second game of a double-header involving 3 teams
    3     Day of week  ("Sun","Mon","Tue","Wed","Thu","Fri","Sat")
  4-5     Visiting team and league
    6     Visiting team game number
          For this and the home team game number, ties are counted as
          games and suspended games are counted from the starting
          rather than the ending date.
  7-8     Home team and league
    9     Home team game number
10-11     Visiting and home team score (unquoted)
   12     Length of game in outs (unquoted).  A full 9-inning game would
          have a 54 in this field.  If the home team won without batting
          in the bottom of the ninth, this field would contain a 51.
   13     Day/night indicator ("D" or "N")
   14     Completion information.  If the game was completed at a
          later date (either due to a suspension or an upheld protest)
          this field will include:
             "yyyymmdd,park,vs,hs,len" Where
          yyyymmdd -- the date the game was completed
          park -- the park ID where the game was completed
          vs -- the visitor score at the time of interruption
          hs -- the home score at the time of interruption
          len -- the length of the game in outs at time of interruption
          All the rest of the information in the record refers to the
          entire game.
   15     Forfeit information:
             "V" -- the game was forfeited to the visiting team
             "H" -- the game was forfeited to the home team
             "T" -- the game was ruled a no-decision
   16     Protest information:
             "P" -- the game was protested by an unidentified team
             "V" -- a disallowed protest was made by the visiting team
             "H" -- a disallowed protest was made by the home team
             "X" -- an upheld protest was made by the visiting team
             "Y" -- an upheld protest was made by the home team
          Note: two of these last four codes can appear in the field
          (if both teams protested the game).
   17     Park ID
   18     Attendance (unquoted)
   19     Time of game in minutes (unquoted)
20-21     Visiting and home line scores.  For example:
             "010000(10)0x"
          Would indicate a game where the home team scored a run in
          the second inning, ten in the seventh and didn't bat in the
          bottom of the ninth.
22-38     Visiting team offensive statistics (unquoted) (in order):
             at-bats
             hits
             doubles
             triples
             homeruns
             RBI
             sacrifice hits.  This may include sacrifice flies for years
                prior to 1954 when sacrifice flies were allowed.
             sacrifice flies (since 1954)
             hit-by-pitch
             walks
             intentional walks
             strikeouts
             stolen bases
             caught stealing
             grounded into double plays
             awarded first on catcher's interference
             left on base
39-43     Visiting team pitching statistics (unquoted)(in order):
             pitchers used ( 1 means it was a complete game )
             individual earned runs
             team earned runs
             wild pitches
             balks
44-49     Visiting team defensive statistics (unquoted) (in order):
             putouts.  Note: prior to 1931, this may not equal 3 times
                the number of innings pitched.  Prior to that, no
                putout was awarded when a runner was declared out for
                being hit by a batted ball.
             assists
             errors
             passed balls
             double plays
             triple plays
50-66     Home team offensive statistics
67-71     Home team pitching statistics
72-77     Home team defensive statistics
78-79     Home plate umpire ID and name
80-81     1B umpire ID and name
82-83     2B umpire ID and name
84-85     3B umpire ID and name
86-87     LF umpire ID and name
88-89     RF umpire ID and name
          If any umpire positions were not filled for a particular game
          the fields will be "","(none)".
90-91     Visiting team manager ID and name
92-93     Home team manager ID and name
94-95     Winning pitcher ID and name
96-97     Losing pitcher ID and name
98-99     Saving pitcher ID and name--"","(none)" if none awarded
100-101   Game Winning RBI batter ID and name--"","(none)" if none
          awarded
102-103   Visiting starting pitcher ID and name
104-105   Home starting pitcher ID and name
106-132   Visiting starting players ID, name and defensive position,
          listed in the order (1-9) they appeared in the batting order.
133-159   Home starting players ID, name and defensive position
          listed in the order (1-9) they appeared in the batting order.
  160     Additional information.  This is a grab-bag of informational
          items that might not warrant a field on their own.  The field
          is alpha-numeric. Some items are represented by tokens such as:
             "HTBF" -- home team batted first.
             Note: if "HTBF" is specified it would be possible to see
             something like "01002000x" in the visitor's line score.
          Changes in umpire positions during a game will also appear in
          this field.  These will be in the form:
             umpchange,inning,umpPosition,umpid with the latter three
             repeated for each umpire.
          These changes occur with umpire injuries, late arrival of
          umpires or changes from completion of suspended games. Details
          of suspended games are in field 14.
  161     Acquisition information:
             "Y" -- we have the complete game
             "N" -- we don't have any portion of the game
             "D" -- the game was derived from box score and game story
             "P" -- we have some portion of the game.  We may be missing
                    innings at the beginning, middle and end of the game.

Missing fields will be NULL.


V = Visitor
H = Home
1-9 equals the order they appeared in the batting order. so v_player_2_name would be the visitor player who was second on the batting order.

Defensive Position Numbers

1 (pitcher)

2 (catcher)

3 (first baseman)

4 (second baseman)

5 (third baseman)

6 (shortstop)

7 (left fielder)

8 (center fielder)

9 (right fielder).

## Park_Codes.csv
Lets explore the Park_Codes.csv data now.

In [5]:
print(data['park_codes'].shape)
data['park_codes'].head()

(252, 9)

,park_id,name,aka,city,state,start,end,league,notes
0,ALB01,Riverside Park,NaN,Albany,NY,09/11/1880,05/30/1882,NL,TRN:9/11/80;6/15&9/10/1881;5/16-5/18&5/30/1882
1,ALT01,Columbia Park,NaN,Altoona,PA,04/30/1884,05/31/1884,UA,NaN
2,ANA01,Angel Stadium of Anaheim,Edison Field; Anaheim Stadium,Anaheim,CA,04/19/1966,NaN,AL,NaN
3,ARL01,Arlington Stadium,NaN,Arlington,TX,04/21/1972,10/03/1993,AL,NaN
4,ARL02,Rangers Ballpark in Arlington,The Ballpark in Arlington; Ameriquest Fl,Arlington,TX,04/11/1994,NaN,AL,NaN

This is a table of parks MLB teams play in with a corresponding Park_ID and the date ranges they played in the park. If end is NaN assume they still play there.

## Person_Codes.csv

In [6]:
print(data['person_codes'].shape)
data['person_codes'].head()

(20494, 7)

         id     last   first player_debut mgr_debut coach_debut ump_debut
0  aardd001  Aardsma   David   04/06/2004       NaN         NaN       NaN
1  aaroh101    Aaron    Hank   04/13/1954       NaN         NaN       NaN
2  aarot101    Aaron  Tommie   04/10/1962       NaN  04/06/1979       NaN
3  aased001     Aase     Don   07/26/1977       NaN         NaN       NaN
4  abada001     Abad    Andy   09/10/2001       NaN         NaN       NaN

A table of players, managers, coaches, and umpires with unique id for each. It includes their debut date in each role they performed in the MLB.

## team_codes.csv

In [7]:
print(data['team_codes'].shape)
data['team_codes'].head()

(150, 8)

  team_id league  start   end       city         nickname franch_id  seq
0     ALT     UA   1884  1884    Altoona  Mountain Cities       ALT    1
1     ARI     NL   1998     0    Arizona     Diamondbacks       ARI    1
2     BFN     NL   1879  1885    Buffalo           Bisons       BFN    1
3     BFP     PL   1890  1890    Buffalo           Bisons       BFP    1
4     BL1    NaN   1872  1874  Baltimore         Canaries       BL1    1

A table of teams including which league they play in and their franchise.

Exploring what seq is

In [8]:
data['team_codes'][data['team_codes']['franch_id'] == 'BR3']

   team_id league  start   end         city nickname franch_id  seq
15     BR3     AA   1884  1889     Brooklyn  Dodgers       BR3    1
16     BRO     NL   1890  1957     Brooklyn  Dodgers       BR3    2
17     LAN     NL   1958     0  Los Angeles  Dodgers       BR3    3

franch_id in combination with seq tell us the order in which each team moves cities or changes league, but still belongs to the same franchise

## Inserting Dataframes into SQLite Tables

In [9]:
def run_query(query):
    with sqlite3.connect('mlb.db') as conn:
        return pd.read_sql(query,conn)
    
def run_command(c):
    with sqlite3.connect('mlb.db') as conn:
        conn.execute('PRAGMA foreign_keys = ON;')
        conn.isolation_level = None
        conn.execute(c)
        
def show_tables():
    q = '''
    SELECT
        name,
        type
    FROM sqlite_master
    WHERE type IN ("table","view");
    '''
    return run_query(q)

In [10]:
for d in data:
    data[d].to_sql(str(d), sqlite3.connect('mlb.db'), index=False, if_exists='replace')

In [11]:
c = '''
ALTER TABLE game_log
ADD COLUMN game_id TEXT'''

run_command(c)

## Creating a unique_id for game_log
Retrosheet has a data dictionary which list every event within each game. 

**id:** Each game begins with a twelve character ID record which identifies the date, home team, and number of the game. For example, ATL198304080 should be read as follows. The first three characters identify the home team (the Braves). The next four are the year (1983). The next two are the month (April) using the standard numeric notation, 04, followed by the day (08). The last digit indicates if this is a single game (0), first game (1) or second game (2) if more than one game is played during a day, usually a double header The id record starts the description of a game thus ending the description of the preceding game in the file.

To recreate this id we will use the following columns:

h_name + substr(date,1,4) + substr(date,7,8) + number_of_game

In [12]:
c = '''
UPDATE game_log
SET game_id = h_name || substr(date,1,4) || substr(date,7,8) || number_of_game
WHERE game_id is NULL
'''
run_command(c)

In [13]:
q = '''
SELECT game_id
FROM game_log
LIMIT 5
'''

run_query(q)

      game_id
0  FW11871040
1  WS31871050
2  RC11871060
3  CH11871080
4  TRO1871090

## Normalizing the Data
Looking for opportunities to remove redundancies in our data

game_log names - all names including umpire, manager, pitcher, and all player names are redundant and can be removed from game_log and just data from person_codes

park_codes - we can remove the start and end dates, because we can get these from game_logs

player_codes we can remove the debut dates , because we can also get these from game_logs

creating a table with team and game_id to track stats. That way we don't need a visitor and home repeated the same stats. Game would be listed twice in this table

franchise and league can be their own table to avoid duplicating data in teams. (determined not enough duplication to justify making this table)

A table that tracks the position or appearance by a person. I.e Umpire, defensive position, offensive position, or manager

![Database Schema](https://s3.amazonaws.com/dq-content/193/mlb_schema.svg)

## Creating and Inserting Data in Person Table

In [14]:
c = '''
CREATE TABLE IF NOT EXISTS person (
    person_id text,
    first_name text,
    last_name text,
    PRIMARY KEY (person_id)
);
'''
c2 ='''
INSERT OR IGNORE INTO person
SELECT
    id,
    first,
    last
FROM person_codes'''

q = '''
SELECT *
FROM person
LIMIT 5
'''

run_command(c)
run_command(c2)
run_query(q)

  person_id first_name last_name
0  aardd001      David   Aardsma
1  aaroh101       Hank     Aaron
2  aarot101     Tommie     Aaron
3  aased001        Don      Aase
4  abada001       Andy      Abad

## Creating and Inserting Data into Park Table

In [15]:
c = '''
CREATE TABLE IF NOT EXISTS park (
park_id text,
name text,
nickname text,
city text,
state text,
notes text,
PRIMARY KEY(park_id)
);
'''

c2 = '''
INSERT OR IGNORE INTO park
SELECT
    park_id,
    name,
    aka,
    city,
    state,
    notes
FROM park_codes
'''

q = '''
SELECT *
FROM park
LIMIT 5
'''

run_command(c)
run_command(c2)
run_query(q)

,park_id,name,nickname,city,state,notes
0,ALB01,Riverside Park,None,Albany,NY,TRN:9/11/80;6/15&9/10/1881;5/16-5/18&5/30/1882
1,ALT01,Columbia Park,None,Altoona,PA,None
2,ANA01,Angel Stadium of Anaheim,Edison Field; Anaheim Stadium,Anaheim,CA,None
3,ARL01,Arlington Stadium,None,Arlington,TX,None
4,ARL02,Rangers Ballpark in Arlington,The Ballpark in Arlington; Ameriquest Fl,Arlington,TX,None

## Creating and Inserting Data into League table

In [16]:
q = '''
SELECT DISTINCT league
FROM team_codes
'''

run_query(q)

  league
0     UA
1     NL
2     PL
3   None
4     AA
5     AL
6     FL

In [17]:
c = '''
CREATE TABLE IF NOT EXISTS league (
league_id TEXT PRIMARY KEY,
name TEXT
)
'''

c2 = '''
INSERT OR IGNORE INTO league (
league_id,
name
)
VALUES
('UA','Union Association'),
('NL','National League'),
('PL','Players League'),
('AA','American Association'),
('AL','American League'),
('FL','Federal League');
'''

q = '''
SELECT *
FROM league
'''

run_command(c)
run_command(c2)
run_query(q)

  league_id                  name
0        UA     Union Association
1        NL       National League
2        PL        Players League
3        AA  American Association
4        AL       American League
5        FL        Federal League

## Creating appearance_type table

In [18]:

c1 = "DROP TABLE IF EXISTS appearance_type;"

run_command(c1)

c2 = """
CREATE TABLE appearance_type (
    appearance_type_id TEXT PRIMARY KEY,
    name TEXT,
    category TEXT
);
"""
run_command(c2)

appearance_type = pd.read_csv('appearance_type.csv')

with sqlite3.connect('mlb.db') as conn:
    appearance_type.to_sql('appearance_type',
                           conn,
                           index=False,
                           if_exists='append')

q = """
SELECT * FROM appearance_type;
"""

run_query(q)

   appearance_type_id                name category
0                  O1            Batter 1  offense
1                  O2            Batter 2  offense
2                  O3            Batter 3  offense
3                  O4            Batter 4  offense
4                  O5            Batter 5  offense
5                  O6            Batter 6  offense
6                  O7            Batter 7  offense
7                  O8            Batter 8  offense
8                  O9            Batter 9  offense
9                  D1             Pitcher  defense
10                 D2             Catcher  defense
11                 D3            1st Base  defense
12                 D4            2nd Base  defense
13                 D5            3rd Base  defense
14                 D6           Shortstop  defense
15                 D7          Left Field  defense
16                 D8        Center Field  defense
17                 D9         Right Field  defense
18                D10    Unknown Position  defense
19                UHP          Home Plate   umpire
20                U1B          First Base   umpire
21                U2B         Second Base   umpire
22                U3B          Third Base   umpire
23                ULF          Left Field   umpire
24                URF         Right Field   umpire
25                 MM             Manager  manager
26                AWP     Winning Pitcher    award
27                ALP      Losing Pitcher    award
28                ASP      Saving Pitcher    award
29                AWB  Winning RBI Batter    award
30                PSP    Starting Pitcher  pitcher

## Creating the Team Table

In [19]:
c = '''
CREATE TABLE IF NOT EXISTS team (
team_id TEXT PRIMARY KEY,
league_id TEXT,
city TEXT,
nickname TEXT,
franch_id TEXT,
FOREIGN KEY(league_id) REFERENCES league(league_id)
) 
'''

c2 = '''
INSERT OR IGNORE INTO team
SELECT
    team_id,
    league,
    city,
    nickname,
    franch_id
FROM team_codes
'''

q = '''
SELECT *
FROM team
'''

run_command(c)
run_command(c2)
run_query(q)

    team_id league_id           city         nickname franch_id
0       ALT        UA        Altoona  Mountain Cities       ALT
1       ARI        NL        Arizona     Diamondbacks       ARI
2       BFN        NL        Buffalo           Bisons       BFN
3       BFP        PL        Buffalo           Bisons       BFP
4       BL1      None      Baltimore         Canaries       BL1
5       BL2        AA      Baltimore          Orioles       BL2
6       BLN        NL      Baltimore          Orioles       BL2
7       BL4      None      Baltimore        Marylands       BL4
8       BLA        AL      Baltimore          Orioles       BLA
9       NYA        AL       New York          Yankees       BLA
10      BLF        FL      Baltimore        Terrapins       BLF
11      BLU        UA      Baltimore           Unions       BLU
12      BOS        AL         Boston          Red Sox       BOS
13      BR1      None       Brooklyn         Eckfords       BR1
14      BR2      None       Brooklyn        Atlantics       BR2
15      BR3        AA       Brooklyn          Dodgers       BR3
16      BRO        NL       Brooklyn          Dodgers       BR3
17      LAN        NL    Los Angeles          Dodgers       BR3
18      BR4        AA       Brooklyn       Gladiators       BR4
19      BRF        FL       Brooklyn         Tip-Tops       BRF
20      BRP        PL       Brooklyn          Wonders       BRP
21      BS1      None         Boston           Braves       BS1
22      BSN        NL         Boston           Braves       BS1
23      MLN        NL      Milwaukee           Braves       BS1
24      ATL        NL        Atlanta           Braves       BS1
25      BSP        PL         Boston             Reds       BSP
26      BS2        AA         Boston             Reds       BSP
27      BSU        UA         Boston             Reds       BSU
28      BUF        FL        Buffalo             Feds       BUF
29      CH1      None        Chicago  White Stockings       CH1
30      CH2      None        Chicago  White Stockings       CH2
31      CHN        NL        Chicago             Cubs       CH2
32      CHA        AL        Chicago        White Sox       CHA
33      CHF        FL        Chicago           Whales       CHF
34      CHP        PL        Chicago          Pirates       CHP
35      CHU        UA        Chicago           Unions       CHU
36      CL1      None      Cleveland    Forest Cities       CL1
37      CL2        NL      Cleveland          Spiders       CL2
38      CL3        AA      Cleveland          Spiders       CL3
39      CL4        NL      Cleveland          Spiders       CL3
40      CL5        AA       Columbus            Colts       CL5
41      CL6        AA       Columbus            Colts       CL6
42      CLE        AL      Cleveland          Indians       CLE
43      CLP        PL      Cleveland          Infants       CLP
44      CN1        NL     Cincinnati             Reds       CN1
45      CN2        AA     Cincinnati             Reds       CN2
46      CIN        NL     Cincinnati             Reds       CN2
47      CN3        AA     Cincinnati          Porkers       CN3
48      CNU        UA     Cincinnati      Outlaw Reds       CNU
49      COL        NL       Colorado          Rockies       COL
50      DET        AL        Detroit           Tigers       DET
51      DTN        NL        Detroit       Wolverines       DTN
52      ELI      None      Elizabeth        Resolutes       ELI
53      FLO        NL        Florida          Marlins       FLO
54      FW1      None      Ft. Wayne        Kekiongas       FW1
55      HOU        NL        Houston           Astros       HOU
56      HR1      None       Hartford       Dark Blues       HR1
57      HAR        NL       Hartford       Dark Blues       HR1
58      IN1        NL   Indianapolis            Blues       IN1
59      IN2        AA   Indianapolis            Blues       IN2
60      IN3        NL   Indianapolis         Hoosiers       IN3
61      IND        FL   Indianapolis     Hoosier-Feds       IND
62      NEW        FL         Newark          Peppers       IND
63      KC2        AA    Kansas City            Blues       KC2
64      KCA        AL    Kansas City           Royals       KCA
65      KCF        FL    Kansas City          Packers       KCF
66      KCN        NL    Kansas City          Cowboys       KCN
67      KCU        UA    Kansas City           Unions       KCU
68      KEO      None         Keokuk         Westerns       KEO
69      LAA        AL    Los Angeles           Angels       LAA
70      CAL        AL     California           Angels       LAA
71      ANA        AL        Anaheim           Angels       LAA
72      LS1        NL     Louisville            Grays       LS1
73      LS2        AA     Louisville         Colonels       LS2
74      LS3        NL     Louisville         Colonels       LS2
75      MID      None     Middletown       Mansfields       MID
76      ML2        NL      Milwaukee      Cream Citys       ML1
77      ML3        AA      Milwaukee          Brewers       ML3
78      MLA        AL      Milwaukee          Brewers       MLA
79      SLA        AL      St. Louis           Browns       MLA
80      BAL        AL      Baltimore          Orioles       MLA
81      MLU        UA      Milwaukee            Grays       MLU
82      MON        NL       Montreal            Expos       MON
83      WAS        NL     Washington        Nationals       MON
84      NH1      None      New Haven       Elm Cities       NH1
85      NY2      None       New York          Mutuals       NY2
86      NY3        NL       New York          Mutuals       NY2
87      NY4        AA       New York    Metropolitans       NY4
88      NYN        NL       New York             Mets       NYN
89      NYP        PL       New York           Giants       NYP
90      PH1      None   Philadelphia        Athletics       PH1
91      PHN        NL   Philadelphia        Athletics       PH1
92      PH2      None   Philadelphia  White Stockings       PH2
93      PH3      None   Philadelphia      Centennials       PH3
94      PH4        AA   Philadelphia        Athletics       PH4
95      PHI        NL   Philadelphia         Phillies       PHI
96      PHA        AL   Philadelphia        Athletics       PHA
97      KC1        AL    Kansas City        Athletics       PHA
98      OAK        AL        Oakland        Athletics       PHA
99      PHP        PL   Philadelphia          Quakers       PHP
100     PHU        UA   Philadelphia        Keystones       PHU
101     PRO        NL     Providence            Grays       PRO
102     PT1        AA     Pittsburgh          Pirates       PT1
103     PIT        NL     Pittsburgh          Pirates       PT1
104     PTF        FL     Pittsburgh           Rebels       PTF
105     PTP        PL     Pittsburgh         Burghers       PTP
106     PTU        UA     Pittsburgh           Unions       PTU
107     RC1      None       Rockford     Forest Citys       RC1
108     RC2        AA      Rochester      Hop Bitters       RC2
109     RIC        AA       Richmond        Virginias       RIC
110     SDN        NL      San Diego           Padres       SDN
111     SE1        AL        Seattle           Pilots       SE1
112     MIL        AL      Milwaukee          Brewers       SE1
113     SEA        AL        Seattle         Mariners       SEA
114     SL1      None      St. Louis    Red Stockings       SL1
115     SL2      None      St. Louis  Brown Stockings       SL2
116     SL3        NL      St. Louis  Brown Stockings       SL2
117     SL4        AA      St. Louis        Cardinals       SL4
118     SLN        NL      St. Louis        Cardinals       SL4
119     SLF        FL      St. Louis         Terriers       SLF
120     SLU        UA      St. Louis          Maroons       SLU
121     SL5        NL      St. Louis          Maroons       SLU
122     SPU        UA       St. Paul           Saints       SPU
123     SR1        NL       Syracuse            Stars       SR1
124     SR2        AA       Syracuse            Stars       SR2
125     TBA        AL      Tampa Bay       Devil Rays       TBA
126     TL1        AA         Toledo   Blue Stockings       TL1
127     TL2        AA         Toledo          Maumees       TL2
128     TOR        AL        Toronto        Blue Jays       TOR
129     TRN        NL           Troy          Trojans       TRN
130     NY1        NL       New York           Giants       TRN
131     SFN        NL  San Francisco           Giants       TRN
132     TRO      None           Troy        Haymakers       TRO
133     WIL        UA     Wilmington       Quicksteps       WIL
134     WOR        NL      Worcester        Ruby Legs       WOR
135     WS1        AL     Washington         Senators       WS1
136     MIN        AL      Minnesota            Twins       WS1
137     WS2        AL     Washington         Senators       WS2
138     TEX        AL          Texas          Rangers       WS2
139     WS3      None     Washington         Olympics       WS3
140     WS4      None     Washington        Nationals       WS4
141     WS5      None     Washington        Nationals       WS5
142     WS6      None     Washington        Nationals       WS6
143     WS7        AA     Washington        Nationals       WS7
144     WS8        NL     Washington         Senators       WS8
145     WS9        AA     Washington         Senators       WS9
146     WSN        NL     Washington         Senators       WS9
147     WSU        UA     Washington        Nationals       WSU
148     MIA        NL          Miami          Marlins       FLO

## Creating the Game Table

In [20]:
c1 = """
CREATE TABLE IF NOT EXISTS game (
    game_id TEXT PRIMARY KEY,
    date TEXT,
    number_of_game INTEGER,
    park_id TEXT,
    length_outs INTEGER,
    day BOOLEAN,
    completion TEXT,
    forefeit TEXT,
    protest TEXT,
    attendance INTEGER,
    legnth_minutes INTEGER,
    additional_info TEXT,
    acquisition_info TEXT,
    FOREIGN KEY (park_id) REFERENCES park(park_id)
);
"""

c2 = """
INSERT OR IGNORE INTO game
SELECT
    game_id,
    date,
    number_of_game,
    park_id,
    length_outs,
    CASE
        WHEN day_night = "D" THEN 1
        WHEN day_night = "N" THEN 0
        ELSE NULL
        END
        AS day,
    completion,
    forefeit,
    protest,
    attendance,
    length_minutes,
    additional_info,
    acquisition_info
FROM game_log;
"""

q = """
SELECT * FROM game
LIMIT 5;
"""

run_command(c1)
run_command(c2)
run_query(q)

,game_id,date,number_of_game,park_id,length_outs,day,completion,forefeit,protest,attendance,legnth_minutes,additional_info,acquisition_info
0,FW11871040,18710504,0,FOR01,54,1,None,None,None,200,120,None,Y
1,WS31871050,18710505,0,WAS01,54,1,None,None,None,5000,145,HTBF,Y
2,RC11871060,18710506,0,RCK01,54,1,None,None,None,1000,140,None,Y
3,CH11871080,18710508,0,CHI01,54,1,None,None,None,5000,150,None,Y
4,TRO1871090,18710509,0,TRO01,54,1,None,None,None,3250,145,HTBF,Y

## Creating the team_appearance table

In [21]:
c1 = """
CREATE TABLE IF NOT EXISTS team_appearance (
    team_id TEXT,
    game_id TEXT,
    home BOOLEAN,
    league_id TEXT,
    score INTEGER,
    line_score TEXT,
    at_bats INTEGER,
    hits INTEGER,
    doubles INTEGER,
    triples INTEGER,
    homeruns INTEGER,
    rbi INTEGER,
    sacrifice_hits INTEGER,
    sacrifice_flies INTEGER,
    hit_by_pitch INTEGER,
    walks INTEGER,
    intentional_walks INTEGER,
    strikeouts INTEGER,
    stolen_bases INTEGER,
    caught_stealing INTEGER,
    grounded_into_double INTEGER,
    first_catcher_interference INTEGER,
    left_on_base INTEGER,
    pitchers_used INTEGER,
    individual_earned_runs INTEGER,
    team_earned_runs INTEGER,
    wild_pitches INTEGER,
    balks INTEGER,
    putouts INTEGER,
    assists INTEGER,
    errors INTEGER,
    passed_balls INTEGER,
    double_plays INTEGER,
    triple_plays INTEGER,
    PRIMARY KEY (team_id, game_id),
    FOREIGN KEY (team_id) REFERENCES team(team_id),
    FOREIGN KEY (game_id) REFERENCES game(game_id),
    FOREIGN KEY (team_id) REFERENCES team(team_id)
);
"""

run_command(c1)

In [22]:
c2 = """
INSERT OR IGNORE INTO team_appearance
    SELECT
        h_name,
        game_id,
        1 AS home,
        h_league,
        h_score,
        h_line_score,
        h_at_bats,
        h_hits,
        h_doubles,
        h_triples,
        h_homeruns,
        h_rbi,
        h_sacrifice_hits,
        h_sacrifice_flies,
        h_hit_by_pitch,
        h_walks,
        h_intentional_walks,
        h_strikeouts,
        h_stolen_bases,
        h_caught_stealing,
        h_grounded_into_double,
        h_first_catcher_interference,
        h_left_on_base,
        h_pitchers_used,
        h_individual_earned_runs,
        h_team_earned_runs,
        h_wild_pitches,
        h_balks,
        h_putouts,
        h_assists,
        h_errors,
        h_passed_balls,
        h_double_plays,
        h_triple_plays
    FROM game_log

UNION

    SELECT    
        v_name,
        game_id,
        0 AS home,
        v_league,
        v_score,
        v_line_score,
        v_at_bats,
        v_hits,
        v_doubles,
        v_triples,
        v_homeruns,
        v_rbi,
        v_sacrifice_hits,
        v_sacrifice_flies,
        v_hit_by_pitch,
        v_walks,
        v_intentional_walks,
        v_strikeouts,
        v_stolen_bases,
        v_caught_stealing,
        v_grounded_into_double,
        v_first_catcher_interference,
        v_left_on_base,
        v_pitchers_used,
        v_individual_earned_runs,
        v_team_earned_runs,
        v_wild_pitches,
        v_balks,
        v_putouts,
        v_assists,
        v_errors,
        v_passed_balls,
        v_double_plays,
        v_triple_plays
    from game_log;
"""

run_command(c2)

q = """
SELECT * FROM team_appearance
WHERE game_id = (
                 SELECT MIN(game_id) from game
                )
   OR game_id = (
                 SELECT MAX(game_id) from game
                )
ORDER By game_id, home;
"""

run_query(q)

,team_id,game_id,home,league_id,score,line_score,at_bats,hits,doubles,triples,homeruns,rbi,sacrifice_hits,sacrifice_flies,hit_by_pitch,walks,intentional_walks,strikeouts,stolen_bases,caught_stealing,grounded_into_double,first_catcher_interference,left_on_base,pitchers_used,individual_earned_runs,team_earned_runs,wild_pitches,balks,putouts,assists,errors,passed_balls,double_plays,triple_plays
0,SLU,ALT1884020,0,UA,16,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,ALT,ALT1884020,1,UA,3,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,BLU,WSU1884300,0,UA,1,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,PHU,WSU1884300,0,UA,0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,WSU,WSU1884300,1,UA,3,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

## Creating the person_appearance table

In [23]:
c0 = "DROP TABLE IF EXISTS person_appearance"

run_command(c0)

c1 = """
CREATE TABLE person_appearance (
    appearance_id INTEGER PRIMARY KEY,
    person_id TEXT,
    team_id TEXT,
    game_id TEXT,
    appearance_type_id,
    FOREIGN KEY (person_id) REFERENCES person(person_id),
    FOREIGN KEY (team_id) REFERENCES team(team_id),
    FOREIGN KEY (game_id) REFERENCES game(game_id),
    FOREIGN KEY (appearance_type_id) REFERENCES appearance_type(appearance_type_id)
);
"""

c2 = """
INSERT OR IGNORE INTO person_appearance (
    game_id,
    team_id,
    person_id,
    appearance_type_id
) 
    SELECT
        game_id,
        NULL,
        hp_umpire_id,
        "UHP"
    FROM game_log
    WHERE hp_umpire_id IS NOT NULL    

UNION

    SELECT
        game_id,
        NULL,
        [1b_umpire_id],
        "U1B"
    FROM game_log
    WHERE "1b_umpire_id" IS NOT NULL

UNION

    SELECT
        game_id,
        NULL,
        [2b_umpire_id],
        "U2B"
    FROM game_log
    WHERE [2b_umpire_id] IS NOT NULL

UNION

    SELECT
        game_id,
        NULL,
        [3b_umpire_id],
        "U3B"
    FROM game_log
    WHERE [3b_umpire_id] IS NOT NULL

UNION

    SELECT
        game_id,
        NULL,
        lf_umpire_id,
        "ULF"
    FROM game_log
    WHERE lf_umpire_id IS NOT NULL

UNION

    SELECT
        game_id,
        NULL,
        rf_umpire_id,
        "URF"
    FROM game_log
    WHERE rf_umpire_id IS NOT NULL

UNION

    SELECT
        game_id,
        v_name,
        v_manager_id,
        "MM"
    FROM game_log
    WHERE v_manager_id IS NOT NULL

UNION

    SELECT
        game_id,
        h_name,
        h_manager_id,
        "MM"
    FROM game_log
    WHERE h_manager_id IS NOT NULL

UNION

    SELECT
        game_id,
        CASE
            WHEN h_score > v_score THEN h_name
            ELSE v_name
            END,
        winning_pitcher_id,
        "AWP"
    FROM game_log
    WHERE winning_pitcher_id IS NOT NULL

UNION

    SELECT
        game_id,
        CASE
            WHEN h_score < v_score THEN h_name
            ELSE v_name
            END,
        losing_pitcher_id,
        "ALP"
    FROM game_log
    WHERE losing_pitcher_id IS NOT NULL

UNION

    SELECT
        game_id,
        CASE
            WHEN h_score > v_score THEN h_name
            ELSE v_name
            END,
        saving_pitcher_id,
        "ASP"
    FROM game_log
    WHERE saving_pitcher_id IS NOT NULL

UNION

    SELECT
        game_id,
        CASE
            WHEN h_score > v_score THEN h_name
            ELSE v_name
            END,
        winning_rbi_batter_id,
        "AWB"
    FROM game_log
    WHERE winning_rbi_batter_id IS NOT NULL

UNION

    SELECT
        game_id,
        v_name,
        v_starting_pitcher_id,
        "PSP"
    FROM game_log
    WHERE v_starting_pitcher_id IS NOT NULL

UNION

    SELECT
        game_id,
        h_name,
        h_starting_pitcher_id,
        "PSP"
    FROM game_log
    WHERE h_starting_pitcher_id IS NOT NULL;
"""

template = """
INSERT INTO person_appearance (
    game_id,
    team_id,
    person_id,
    appearance_type_id
) 
    SELECT
        game_id,
        {hv}_name,
        {hv}_player_{num}_id,
        "O{num}"
    FROM game_log
    WHERE {hv}_player_{num}_id IS NOT NULL

UNION

    SELECT
        game_id,
        {hv}_name,
        {hv}_player_{num}_id,
        "D" || CAST({hv}_player_{num}_def_pos AS INT)
    FROM game_log
    WHERE {hv}_player_{num}_id IS NOT NULL;
"""

run_command(c1)
run_command(c2)

for hv in ["h","v"]:
    for num in range(1,10):
        query_vars = {
            "hv": hv,
            "num": num
        }
        run_command(template.format(**query_vars))

In [28]:
q = '''
SELECT DISTINCT appearance_type_id
FROM person_appearance
LIMIT 50
'''

run_query(q)

   appearance_type_id
0                 UHP
1                  MM
2                 PSP
3                 U2B
4                 U3B
5                 U1B
6                 ALP
7                 AWB
8                 AWP
9                 ASP
10                ULF
11                URF
12                D10
13                 D7
14                 D8
15                 O1
16                 D6
17                 D4
18                 D3
19                 D9
20                 D5
21                 D2
22                 D1
23                 O2
24                 O3
25                 O4
26                 O5
27                 O6
28                 O7
29                 O8
30                 O9